<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MQTT Admin</title>
</head>
<body>
<div class="container">
  <div style="text-align: center">
    <canvas baseChart width="400" height="400"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
    </canvas>
    <button mat-button color="primary">Login now!</button>
  </div>

</div>
</body>
</html>
