<div class="container mt-4">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card">
        <div class="card-body">
          <form class="form-row align-items-center" [formGroup]="query">
            <div class="form-group">
              <mat-form-field appearance="fill">
                <mat-label>Filter By</mat-label>
                <mat-select #searchType formControlName="type">
                  <mat-option *ngFor="let c of types" [value]="c">
                    {{c}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="width: 60%">
                <mat-label>Search</mat-label>
                <input [disabled]="searchType.value === undefined" matInput placeholder="Search..."
                  formControlName="value">
              </mat-form-field>
              <button mat-icon-button type="submit" (click)="search()">
                <mat-icon aria-label="Search Icon">search</mat-icon>
              </button>
            </div>
          </form>
          <mat-label><em>Total messages found:</em> {{data.length}} <em>Timstamp:</em> {{lastUpdate}}</mat-label>

        </div>
      </div>

      <div class="mt-4">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Device ID</th>
                <th scope="col">Device Name</th>
                <th scope="col">Topic</th>
                <th scope="col">Message</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- Add your search results here -->
              <tr *ngFor="let m of messages">
                <td>{{m.id}}</td>
                <td>{{m.iot.iotId}}</td>
                <td>{{m.iot.name}}</td>
                <td>{{m.topic}}</td>
                <td>{{m.payload}}</td>
                <td>{{m.createTime}}</td>
                <td>
                  <button class="btn btn-sm btn-danger" (click)="deleteMessage(m)">Delete</button>
                </td>
              </tr>
              <!-- Add more rows as needed -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>
<mat-paginator [length]="paging.length" [pageSize]="paging.pageSize" [pageSizeOptions]="paging.pageSizeOptions"
  (page)="page($event)" aria-label="Select page">
</mat-paginator>