<div class="container mt-4">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card">
        <div class="card-body">
          <h1>Devices Browser</h1>
          <div class="form-container">
            <form class="form-row align-items-center" [formGroup]="queryFG">
              <div class="form-group">
                <label class="filter-bar-label">Device Category </label>
                <mat-checkbox value="all" #checkAllCategory (change)="onCheckAllChange($event)">Select
                  All</mat-checkbox>
                <mat-checkbox *ngFor="let cat of categories" value="{{cat}}" [checked]="checkAllCategory.checked"
                  (change)="onCheckboxChange($event)">{{cat}}</mat-checkbox>
              </div>
              <div class="form-group">
                <label class="filter-bar-label">Search by Type </label>
                <mat-form-field>
                  <mat-label>Select</mat-label>
                  <mat-select #type formControlName="typeFC" (valueChange)="onTypeFilterSelectionChange($event)">
                    <mat-option value={{t.value}} *ngFor="let t of types">{{t.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Value</mat-label>
                  <input matInput formControlName="typeValueFC">
                </mat-form-field>
              </div>
              <div class="form-group">
                <label class="filter-bar-label">Status </label>
                <mat-radio-group formControlName="onlineRadioButtonFC">
                  <mat-radio-button value="all">All</mat-radio-button>
                  <mat-radio-button *ngFor="let s of ['Online', 'Offline']" value="{{s}}">{{s}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <!-- <div class="form-group">
                <label class="filter-bar-label">Topic </label>
                <mat-checkbox value="all" (change)="onTopicFilterCheckBoxChange($event)">Filter by Topic</mat-checkbox>
                <mat-form-field>
                  <mat-label>Value</mat-label>
                  <input matInput formControlName="topicFC">
                </mat-form-field>
              </div> -->
              <div class="form-group">
                <label class="filter-bar-label">Date Created Between</label>
                <mat-checkbox value="all" #checkDateCreatedBetween></mat-checkbox>
                <mat-form-field>
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input [formGroup]="dateCreatedRangeFG" [rangePicker]="picker"
                    [disabled]="!checkDateCreatedBetween.checked">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                  <mat-error *ngIf="dateCreatedRangeFG.controls.start.hasError('matStartDateInvalid')">Invalid start
                    date</mat-error>
                  <mat-error *ngIf="dateCreatedRangeFG.controls.end.hasError('matEndDateInvalid')">Invalid end
                    date</mat-error>
                </mat-form-field>
              </div>
              <button mat-flat-button color="primary" style="width: 100%" (click)="handleSearch()">SEARCH</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card" *ngFor="let d of devices; let idx = index" style="margin: 10px">
        <div class="card-body">
          <div class="row">
            <div class="column">
              <h3>Name: {{d.name}}</h3>
              <h3>Category: {{d.category}}</h3>
              <h3>Create time: {{d.createTime}}</h3>
              <h3>Info: {{d.info}}</h3>
              <h3>Total messages count: {{d.messages.length}}</h3>
              <h3>Total topics count: {{d.topics.length}}</h3>
            </div>
            <div class="column">
              <h3>Subscribed topics</h3>
              <div class="max-height-table">
                <table class="table ">
                  <thead>
                    <tr>
                      <th scope="col">Topic</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Add your search results here -->
                    <tr *ngFor="let t of d.topics">
                      <td>{{t.topic}}</td>
                      <td>
                        <button class="btn btn-sm btn-warning">Disconnect</button>
                        <button class="btn btn-sm btn-info">Connect</button>
                      </td>
                    </tr>
                    <!-- Add more rows as needed -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button mat-raised-button color="primary" (click)="moreInfo(d)">More</button>
          <button mat-raised-button color="accent" (click)="openEditDeviceDialog(d)">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteIot(d, idx)">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-paginator [length]="paging.length" [pageSize]="paging.pageSize" [pageSizeOptions]="paging.pageSizeOptions"
  (page)="page($event)" aria-label="Select page">
</mat-paginator>