<!-- Device Status Card -->

<div class="row">
  <div class="col-md-6">
    <div id="container" class="map" tabindex="0"></div>
  </div>
  
  <div class="col-md-6">
    <div class="max-height-table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Device ID</th>
            <th scope="col">Device Name</th>
            <th scope="col">History</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of data, let idx = index">
            <td>{{t.iot.iotId}}</td>
            <td>{{t.iot.name}}</td>
            <td>
              <button class="btn btn-sm btn-info" *ngIf="!t.iot.show" (click)="show(idx, t)">Show Path</button>
              <button class="btn btn-sm btn-warning" *ngIf="t.iot.show" (click)="hide(idx, t)">Hide Path</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>