<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="side">
    <h1>Tools</h1>
    <div class="tool-list">
      <button class="tool-button" mat-flat-button color="primary" (click)="showComponent('devicesList')">Devices List</button>
      <button class="tool-button" mat-flat-button color="primary" (click)="openCreateDeviceDialog()">Create Device</button>
      <button class="tool-button" mat-flat-button color="primary" (click)="openTopicsSettingDialog()">Topics Setting</button>
      <button class="tool-button" mat-flat-button color="primary" (click)="openCategorySettingsDialog()">Category Settings</button>
      <button class="tool-button" mat-flat-button color="primary" (click)="showComponent('deviceStats')">Device Statistic</button>
      <button class="tool-button" mat-flat-button color="primary" (click)="getToken()">Get Token</button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button aria-label="menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Device Settings</span>
    </mat-toolbar>

    <ng-container *ngIf="currentComponent === 'devicesList'">
      <div class="device-list">
        <mat-accordion *ngFor="let i of deviceList">
          <app-device-details [deviceDetails]="i"></app-device-details>
        </mat-accordion>
      </div>

      <mat-paginator [length]="100"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     aria-label="Select page">
      </mat-paginator>
    </ng-container>

  </mat-drawer-content>
</mat-drawer-container>
