<mat-toolbar color="primary">
  <span style="margin-right: 15px">
    <img src="assets/logo.png" width="40px" height="40px" id=logo alt="Logo image" style="margin-right: 10px;" />
    MQTT Admin</span>
  <a mat-button *ngIf="isLoggedIn" routerLink="/"><mat-icon>dashboard</mat-icon>Dashboard</a>
  <a mat-button *ngIf="isLoggedIn" routerLink="/device-settings"><mat-icon>settings</mat-icon>Device Settings</a>
  <a mat-button *ngIf="isLoggedIn" routerLink="/statistics"><mat-icon>data_usage</mat-icon>Statistics</a>
  <a mat-button *ngIf="isLoggedIn" routerLink="/about"><mat-icon>people</mat-icon>About</a>
  <a mat-button *ngIf="isLoggedIn" [href]="personalInfo"><mat-icon>account_circle</mat-icon>Personal
    Info</a>
  <span class="spacer"></span>
  <a mat-button *ngIf="isLoggedIn" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</a>
</mat-toolbar>
<router-outlet></router-outlet>