<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{deviceDetails?.deviceName}}
    </mat-panel-title>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>Serial Number: {{deviceDetails?.serialNumber}}</p>
  <p>Model: {{deviceDetails?.deviceModel}}</p>
  <p>Brand: {{deviceDetails?.deviceBrand}}</p>
  <p>Category: {{deviceDetails?.deviceCategory}}</p>
  <button mat-flat-button color="primary" style="margin-right: 5px;">Edit</button>
  <!--    <button mat-flat-button color="accent">Accent</button>-->
  <button mat-flat-button color="warn" style="margin-right: 5px">Delete</button>
  <button mat-flat-button color="accent">View More</button>
</mat-expansion-panel>
